/* Base Chinese Font (content subset) */
@font-face {
  font-family: 'Chinese';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/subsets/HYShuSongErS.woff2') format('woff2');
  unicode-range: U+3000-303F, U+4E00-9FFF, U+3400-4DBF, U+F900-FAFF;
}

/* Chinese Italic Font */
@font-face {
  font-family: 'Chinese';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/subsets/FZKTJW.woff2') format('woff2');
  unicode-range: U+3000-303F, U+4E00-9FFF, U+3400-4DBF, U+F900-FAFF;
}

/* Chinese Bold Font */
@font-face {
  font-family: 'Chinese';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('/fonts/subsets/FZHTJW.woff2') format('woff2');
  unicode-range: U+3000-303F, U+4E00-9FFF, U+3400-4DBF, U+F900-FAFF;
}

/* Chinese Monospace Font */
@font-face {
  font-family: 'ChineseMono';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/subsets/HYFangSongJ.woff2') format('woff2');
  unicode-range: U+3000-303F, U+4E00-9FFF, U+3400-4DBF, U+F900-FAFF;
}

:root {
  --chinese-font: 'Chinese', serif;
  --chinese-mono-font: 'ChineseMono', monospace;
}

body {
  font-family: var(--chinese-font);
}

pre, code, kbd, samp {
  font-family: var(--chinese-mono-font);
}
